body {
    margin: 0;
    padding: 0;
}
body::before {
    margin-bottom: 100px;
    bottom: 0%;
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient( rgb(255, 255, 255, 0.5), rgba(254, 254, 254, 0.5)), url("images/home_bg.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: -1; 
}
.wrap {
    margin: auto;
    margin-top: 8rem;
    background-position: center;
    width: 80%;
    height: 400px;
    background-repeat: no-repeat;
    background-color: white;
    background-position: center;
    border-radius: 10px;
    text-align: center;
}
img {
    margin-top: 4%;
}
.text,
.box1 {
    padding-top: 1%;
    
}
.text {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 2px;
    font-size: 20px;
    line-height: normal;
}
.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-top: 1.5rem;
    border-radius: 2px;
    border: thin;
}
input {
    border: 1px solid lightgrey;
    width: 91%;
    height: 30px;
    box-sizing: border-box;
    outline: none;
    border-radius: 8px;
}
input:hover {
    border-style: thin; 
    overflow: hidden;
    border: 3px solid rgb(110, 205, 237);
}
hr {
    margin-top: 4.4rem;
    width: 18rem;
    background: #e9ecef;
}
.text2 {
    margin-top: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
}
em {
    color: blue;
}
.box4 {
    background-size: contain;
    width: 100%;
    height: 14%;
    border-radius: 0px 0px 10px 10px;
    background: #f8f9fa;
    z-index: 2;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 1rem;
    gap: 7px;
    margin-right: 5rem;
}
.bot,
.bon {
    z-index: 5;
    border-radius: 4px;
}
.bon {
    transition: color 0.15s, background-color 0.15s, border-color 0.15s, box-shadow 0.15s;
    background-color: #fff;
    color: #3ac47d;
    border: 1px solid #3ac47d;
    width: 35%;
    padding: 2%;
    content: normal;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8rem;
    font-weight: 500;
    text-align: center;
}
.bot {
    margin-right: 1rem;
    font-size: .88rem;
    font-weight: 400;
    line-height: 1.5;
    width: 3rem;
    color: #fff;
    background-color: #3ac47d;
    text-align: center;
    padding: 2%;
}
.bon:hover {
    background-color: #3ac47d ;
    z-index: 2;
    color: white;
}

@media screen and (min-width: 760px) {
    body {
        margin: 0;
        padding: 0;
    }
    body::before {
    margin-bottom: 100px;
    bottom: 0%;
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient( rgb(255, 255, 255, 0.5), rgba(254, 254, 254, 0.5)), url("images/home_bg.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: -1; 
}
    .wrap {
        margin: 130px 410px;
        height: 400px;
        width:  510px;
        border-radius: 10px;
        text-align: center;
        background-position: top;
        background-repeat: no-repeat;
        background-color: white;
        background-position: center;
        position: fixed;
        z-index: -1;
    }
    img {
        margin-top: 4%;
    }
    .text {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 2px;
        font-size: 20px;
        line-height: normal;
    }
    .box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 2px;
        border: thin;
    }
    input {
        width: 91%;
        height: 45px;
        border: 1px solid lightgrey;
        box-sizing: border-box;
    }
    input:hover {
        border-style: thin;
        border-radius: 10px;
        border: 3px solid rgb(110, 205, 237);
    }
    hr {
        position: relative;
        bottom: -7%;
        margin-top: 2%;
        color: #e9ecef;
        background: #e9ecef;
        width: 29rem;

    }
    .text2 {
        display: block;
        margin-top: 60px;
        margin-right: 12rem;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 100;
    }
    em {
        color: blue;
    }
    .box4 {
        background-size: contain;
        width: 100%;
        height: 14%;
        border-radius: 0px 0px 10px 10px;
        background: #f8f9fa;
        z-index: 2;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-top: 1rem;
        gap: 7px;
        margin-right: 5rem;
    }
    .bot,
    .bon {
        z-index: 5;
        border-radius: 4px;
    }
    .bot {
        margin-right: 1rem;
        font-size: .88rem;
        font-weight: 400;
        width: 3.5rem;
        color: #fff;
        background-color: #3ac47d;
        text-align: center;
        padding: 1.7%;
    }
    .bon {
        padding: 2%;
        width: 25%;
        border: 1px solid #3ac47d;
        color: #3ac47d;
        background-color: white;
        padding-top: 5px;
        font-weight: 600;
    }
    .bon:hover {
        background-color: #3ac47d ;
        z-index: 2;
        color: white;
    }
    
}
